* {
  margin: 0px;
  padding: 0px;
}

.header-container {
  display: flex;
  background: rgba(229, 84, 115, 0.1);
  justify-content: space-between;
  margin-top: -10px;
  height: 52vh;
  padding: 150px 30px 150px;
  align-items: center;
}
.header-section {
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  padding-left: 80px;
  margin-left: 50px;
  font-weight: 750;
}

.header-description {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 20px;
  padding-left: 80px;
  margin-left: 50px;
  margin-top: 30px;
  font-weight: 350;
}

.btn-primary {
  border-radius: 10px;
  background: #e55473;
  background-color: #e55473;
  color: white;
  border: none;
  margin-left: 130px;
  margin-top: 20px;
  align-items: center;
  padding: 20px 50px 15px 50px;
}
.main-container {
}
.main-container-title {
  text-align: center;
  padding-top: 100px;
}
.main-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}
.main-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  padding: 20px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}
.image-photo {
  display: flex;
  gap: 30px;
  margin-left: 325px;
}
.image-01 {
  width: 400px;
  height: 429px;

  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.image-02 {
  width: 400px;
  height: 429px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.image-03 {
  width: 400px;
  height: 429px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
.img-add {
  width: 285px;
  margin-left: 50px;
  margin-top: 35px;
}
.img-add-01 {
  width: 285px;
  margin-left: 60px;
  margin-top: 80px;
}
.img-add-02 {
  width: 286px;
  margin-left: 50px;
}
/* .image-03, .img-name{
  padding-top: 50px;
  
} */
.img-name-01 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  margin-top: 40px;
  font-weight: 700;
  text-decoration-line: underline;
}
.img-name-02 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  margin-top: 100px;
  font-weight: 700;
  text-decoration-line: underline;
}
.img-name-03 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  margin-top: 40px;
  font-weight: 700;
  text-decoration-line: underline;
}
.bg-pic {
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  width: 1257px;
  height: 250px;
  display: flex;
  margin-top: 128px;
  margin-left: 330px;
}
.bg-description {
  text-align: center;
  color: rgba(39, 39, 39, 0.8);
  font-family: Lato;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  
  
  
} */
.bg-title {
  
  gap: 10px;
  margin-top: 100px;
  justify-content: center;
  padding-left: 190px;
 
}
.pic-size{
  width: 70px;
  height: 70px;
  margin-left: 60px;
  
  
}
.pic-size-01{
  /* margin-left: 10px; */
}
.bg-title img{
  margin-left: 10px;

}
.bg-color{
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  padding: 100px;
}
.bg-descrip{
  
}
.bg-descrip-title{
  color: #272727;
font-family: Lato;
font-size: 40px;
font-weight: 800;

}
.span-01{
  color: #E55473;
}
.ph-01{
  color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
}
.bg-color img{
  width: 300px;
  height: 400px;
}
.btn-primary-01{
  border-radius: 10px;
  background: #e55473;
  background-color: #e55473;
  color: white;
  border: none;
  margin-left: 180px;
  margin-top: 20px;
  align-items: center;
  padding: 20px 50px 15px 50px;
}
/* .back-color{
  background: #FFF;
  display: flex;
} */
.back-des{
  color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 15px;
font-weight: 400;

}
.back-title{
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}
.back-01{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  padding: 0px 25px;
 
}
.bk-01 img{
    height: 360px;
    width: 300px;
}
.back-title{
  text-align: center;
  margin-top: 100px;
  
}